# Eclipse
.classpath
.project
.settings/
bin/

# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

# gradle
.gradle
build

# vscode
.vscode

# download files
values.yaml
datadog-charts.yaml
iam_policy.json
