<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - sample_application_csharp</title>
</head>
<body>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>